.navbar {
  padding: 10px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 20px;
}

.navbar-nav .nav-link:hover {
  background-color: #1877f2;
}

.navbar-nav .active .nav-link {
  color: #2dc3deee;
  background-color: #1877f2;
}
